<h1>Welcome <%= @user.username %></h1>

<%= form_tag('/sessions', method: 'delete') do %>
  <%= submit_tag "Log-Out" %>
<% end %>


<input id='movie_search' type="text" placeholder='...movie title'>
<div id='movie-display'></div>


<table>
  <% @user.watch_list_entries.each do |entries| %>
    <tr>
      <td>
        <%= entries.movie.title %>
      </td>
      <td>
        <form action="/users/wish/<%= entries.id %>" method="post">
          <%= token_tag %>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Remove">
        </form>
      </td>
    </tr>
  <% end %>
</table>



<script id='movie-template' type='text/template' charset="utf-8">
  <h2 class='title'>
    <%%= title %>
  </h2>
  <h4 class='meta-info'>
    <%%= director %> (<%%= released %>)
  </h4>
  <p class='plot'>
    <%%= plot %>
  </p>
  <form action="/users/wish" method="post">
    <%= token_tag %>
    <input type="hidden" name="movie_id" value="<%%= id %>">
    <input type="submit" value="Add To Watch List">
  </form>
</script>
