<style>
  input{
    margin-top: 30px;
  }

  .listing{
    background-color: lightblue;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome <%= @user.username %></h1>
    </div>
    <div class="col-md-6">
      <%= form_tag('/sessions', method: 'delete') do %>
        <%= submit_tag "Log-Out" %>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="container-fluid">

  <div class='row'>
    <div class='col-md-4 col-md-offset-1'>
      <input id='movie_search' type="text" placeholder='...movie title'>
      <div id='movie-display'></div>

    </div>
    <div class="col-md-3">
      <h4>Wish List</h4>
      <table>
        <% @user.watch_list_entries.each do |entries| %>
          <tr>
            <td class="listing">
              <%= entries.movie.title %>
            </td>
            <td>
              <%= entries.movie.director %>
              <%= entries.movie.genre %>
            </td>
            <td>
              <form action="/users/wish/<%= entries.id %>" method="post">
                <%= token_tag %>
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-info" value="Remove">
              </form>
            </td>
            <td>
              <form action="/users/wish/<%= entries.id %>" method="post">
                <%= token_tag %>
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-success" value="Watched">
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-3">
      <h4>Watched List</h4>
    </div>
  </div>
</div>

<script id='movie-template' type='text/template' charset="utf-8">
  <h2 class='title'>
    <%%= title %>
  </h2>
  <h4 class='meta-info'>
    <%%= director %> (<%%= released %>)
  </h4>
  <p class='plot'>
    <%%= plot %>
  </p>
  <form action="/users/wish" method="post">
    <%= token_tag %>
    <input type="hidden" name="movie_id" value="<%%= id %>">
    <input type="submit" value="Add To Watch List">
  </form>
</script>
